# file options

--exclude Build, Euclid, LRUCache, SVGPath, Package.swift

# format options

--swiftversion 5.7
--hexgrouping ignore
--decimalgrouping ignore
--ifdef no-indent
--self init-only
--shortoptionals except-properties
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapconditions after-first
--maxwidth 120

# rules

--lintonly unusedArguments
--lintonly unusedPrivateDeclarations
--enable emptyExtensions
--enable isEmpty
# --enable docComments
--enable noForceTryInTests
--enable noForceUnwrapInTests
# --enable noGuardInTests
--enable preferFinalClasses
--enable redundantAsync
--enable redundantThrows
--enable redundantProperty
--enable redundantEquatable
--enable redundantMemberwiseInit
--enable redundantProperty

