# file options

--exclude Package.swift

# format options

--swiftversion 5.7
--hexgrouping ignore
--decimalgrouping ignore
--ifdef no-indent
--self init-only
--wraparguments before-first
--wrapcollections before-first
--maxwidth 120

# rules

--lintonly unusedArguments
--lintonly unusedPrivateDeclarations
--enable emptyExtensions
--enable isEmpty
# --enable docComments
--enable noForceTryInTests
--enable noForceUnwrapInTests
# --enable noGuardInTests
--enable preferFinalClasses
--enable redundantAsync
--enable redundantThrows
--enable redundantEquatable
--enable redundantMemberwiseInit
--enable redundantProperty