name: Build for Linux

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Ref to build (branch, tag or SHA)'
        required: false
        default: 'master'

jobs:
  build:
    name: Build ShapeScript for Linux
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.ref }}
      - name: Build it
        run: |
          swift build --configuration release --static-swift-stdlib
          SWIFTFORMAT_BIN_PATH=`swift build --configuration release --show-bin-path`
          mv $SWIFTFORMAT_BIN_PATH/shapescript "${HOME}/shapescript"
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: shapescript_linux
          path: ~/shapescript
          retention-days: 5
